<div th:fragment="content">
  <h1 class="h2 mb-4">Gestión de Stock</h1>
  <a th:href="@{/products/new}" class="btn btn-success mb-3">Nuevo Producto</a>

  <table class="table table-hover">
    <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Talla</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.name}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.size.displayValue}"></td>
      <td th:text="${product.formattedPrice}"></td>
      <td th:text="${product.stock}"></td>
      <td>
        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-sm btn-warning">Editar</a>
        <form th:action="@{/products/{id}(id=${product.id})}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit"
                  class="btn btn-sm btn-danger"
                  onclick="return confirm('¿Eliminar producto?')">
            Eliminar
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

</div>



